.container-dashboard {
  margin-top: 120px;
  background-color: #ffffff;
}

.card-menu {
  width: 400px;
  height: 400px;
  background-color: #e2e3e5;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
  color: #000;
}

.card-menu:hover {
  transform: translateY(-5px);
  background-color: #dbeafe;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.icon-box {
  width: 150px;
  height: 150px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-size: 5rem;
}

.bi {
  color: #000;
}
