<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="linkHome">
      <img src="assets/img/logo.png" class="logo-navbar" alt="Logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="linkHome"
            >Home</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn text-decoration-none icon" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
