<div class="container mt-3">
  <button class="btn btn-success d-flex align-items-end mb-3">
    Cadastrar Produto
  </button>

  <div class="mb-3">
    <label for="filtro" class="form-label fw-bold">Pesquisar Produto</label>
    <input
      type="text"
      class="form-control"
      id="filtro"
      placeholder="Digite o nome ou categoria..."
      (input)="filtrar($event)"
    />
  </div>

  <h2
    class="mb-4 text-danger fw-bold border-bottom border-3 border-danger pb-2"
  >
    Lista de Produtos
  </h2>

  <table class="table table-striped-columns table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Categoria</th>
        <th scope="col">Quantidade</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (produto of produtosFiltrados; track produto.id) {
      <tr>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao || "-" }}</td>
        <td>{{ produto.preco | currency : "BRL" }}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.quantidade }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-center gap-2">
            <button
              class="btn btn-sm btn-danger"
              (click)="excluirProduto(produto.id!)"
            >
              <i class="bi bi-trash"></i> Excluir
            </button>
            <button class="btn btn-sm btn-primary">
              <i class="bi bi-pencil"></i> Editar
            </button>
          </div>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" class="text-center p-3">Nenhum produto encontrado.</td>
      </tr>
      }
    </tbody>
  </table>
</div>
