<div class="container-dashboard">
  <div class="d-flex flex-wrap justify-content-center gap-5">
    <app-card
      cardTitle="Produtos"
      routerLink="/gerente/produtos"
      iconLine="bi bi-truck"
    >
    </app-card>
    <app-card
      cardTitle="Funcionarios"
      routerLink="/gerente/funcionarios"
      iconLine="bi bi-people"
    >
    </app-card>
    <app-card
      cardTitle="Historico"
      routerLink="/gerente/historico"
      iconLine="bi bi-list"
    >
    </app-card>
  </div>
</div>
