.titulo {
  font-size: 4rem;
  color: white;
}

.form-control {
  width: 45rem;
  height: 50px;
  font-size: 2rem;
  border: solid black 2px;
  border-radius: 10px;
}

.form-label {
  font-size: 1.5rem;
}

.container.login {
  border-radius: 10px;
  background-color: #efefef;
  width: 900px;
}

.btn-login {
  width: 20rem;
  height: 3.125rem;
  font-size: 2rem;
  background-color: #a10000;
  color: white;
  padding: 0;
  margin-top: 100px;
}

.bg-desfocado {
  background-image: url("/assets/img/Home.png");
  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);

  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.logo-navbar {
  width: 100px;
  height: 100px;
}
