<div>
  <div class="container-fluid">
    <p class="titulo text-center bg-secondary">Paulistinha</p>
  </div>

  <div class="container login p-5">
    <div class="mb-4">
      <label for="CPFLogin" class="form-label">CPF Usuario:</label>
      <input type="email" class="form-control" id="CPFLogin" placeholder="" />
    </div>
    <div class="">
      <label for="SenhaLogin" class="form-label">Senha:</label>
      <input type="email" class="form-control" id="SenhaLogin" placeholder="" />
    </div>
    <div class="text-center">
      <button class="btn btn-login">Login</button>
    </div>
  </div>
</div>
