.titulo {
  font-size: 4rem;
  color: white;
}

.form-control {
  width: 45rem;
  height: 50px;
  font-size: 2rem;
  border: solid black 2px;
  border-radius: 10px;
}

.form-label {
  font-size: 1.5rem;
}

.container.login {
  border-radius: 10px;
  background-color: #efefef;
}

.btn-login {
  width: 20rem;
  height: 3.125rem;
  font-size: 2rem;
  background-color: #a10000;
  color: white;
  padding: 0;
  margin-top: 100px;
}
